@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Electrolize', sans-serif;
  background-color: #f5f5f5;

}



@media (min-width: 768px) {
  body{
    overflow: hidden;
  }
  .ant-btn-primary {
    background-color: #1677ff;
  }
  .categories::-webkit-scrollbar {
    display: none;
  }
}
